<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://unpkg.com/feather-icons"></script>
    <title>{% block title %}My Note{% endblock %}</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark shadow-sm">
            <a class="navbar-brand" href="{% url 'home' %}">
                <i data-feather="edit"></i> My Note
            </a>
        </nav>
    </header>
    <main role="main">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>
    <script>
        feather.replace()
    </script>
</body>
</html>